<!-- <html>
  <head>
    <title>About</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
  </head>
  <body>
    About... what?
  </body>
</html> -->

<title>
  <%= title %>
</title>
<link rel="stylesheet" type="text/css" href="css/style.css">
<script>
 console.log("HelloWorld");
</script>